.Blogs-heading {
    width: 100%;
    text-align: center;
    font-size: 8rem;
    font-weight: 800;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    margin: 3rem 0;
    line-height: 1;
    color: var(--text-color);
}

.Blogs-subtext {
    font-size: 1.5rem;
    color: var(--secondary-text);
    margin-bottom: 3rem;
    text-align: center;
}

.blogs-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 3.5rem;

    padding: 0 2rem;
}